.p-left {
    padding-left: 0px !important;
}

.m-left {
    margin-left: 0px !important;
}

.tienda-ti h6 {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
}
.descuento-precio {
    text-decoration: line-through;
    color: red;
    font-size: 12px;
}
.tienda-ti h4 {
    color: #fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.tienda-desc label {
    color: #333;;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.tienda-ti {
    max-height: 80px !important;
    height: 80px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.justify-align {
    display: flex;
    align-items: center;
    justify-content: center
}

.tienda-button {
    line-height: 34px !important;
    height: unset !important;
    width: unset !important;
}

.producto-img img {
    width: 100% !important;
    height: 380px !important;
}

.producto-price {
    font-size: 14px;
    font-weight: 700;
    color: #a9a9a9;
    margin-bottom: 0;
    line-height: 20px;
}

.producto-tile h3 {
    font-size: 24px !important;
}

.producto-carrito button {
    width: 200px !important;
}

.producto-quantity input {
    width: 75px;
    height: 25px;
    border: 1px solid #ececec;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #2f2f2f;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.boton-primary {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    line-height: 22px;
    width: auto;
    height: unset !important;
    font-family: 'Montserrat', sans-serif;
}

.calculador {
    display: none;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    color: #fff;
    z-index: 2;
    background: #d9683f;
}

.calculador p {
    color: white !important;
}

.calculador input {
    color: black !important;
    text-align: center !important;
}
 
.carro-envio p {
    color: #ff353b !important
}

.carro-envio select {
    /*color: #D9683F !important*/
    color: black !important;
    border-color: #ff353b !important;
}

.w-100 {
    width: 100% !important;
}

.cart-box .cart-overview span {
    font-size: 12px;
    line-height: 22px;
    color: #a9a9a9;
    margin-bottom: 0;
}

.producto-meta {
    padding-left: 0px !important;
}

.formulario-usuarios input {
    margin-bottom: 15px !important;
}

.formulario-usuarios p {
    margin-bottom: 0px !important;
}

.boton-cuenta i {
    color: white !important;
}

.boton-cuenta {
    background-color: #ff353b !important;
}

.boton-cuenta h4 {
    margin: 0px !important;
    color: white !important;
}

.boton-cuenta span {
    color: white !important;
}

.boton-cuenta b {
    color: white !important;
}

.t-right {
    text-align: right !important;
}

@media screen and (max-width: 900px) {
    .boton-cuenta {
        text-align: center !important;
    }

    .t-right {
        text-align: center !important;
    }
    .spinner-j img{
        text-align: center;
        width: 160px;
        margin-top: 35%;
    }
}
.spinner-j h1{
    margin: -25px 0 0 -40px;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}
.spinner-j{
    text-align: center;
}
.spinner-j img{
    text-align: center;
    width: 160px;
    margin-top: 20%;
}
.service-title h3{
    font-size: 30px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.rojo{
    color: red !important
}
.verde{
    color: green !important;
}
.nav-zindex{
    z-index: 1020 !important;
}