.fs-12 {
    font-size: 12px !important
}

.fs-13 {
    font-size: 13px !important
}

.fs-14 {
    font-size: 14px !important
}

.fs-15 {
    font-size: 15px !important
}

.fs-16 {
    font-size: 16px !important
}

.fs-17 {
    font-size: 17px !important
}

.fs-18 {
    font-size: 18px !important
}

.fs-19 {
    font-size: 19px !important
}

.fs-20 {
    font-size: 20px !important
}

.fs-21 {
    font-size: 21px !important
}

.fs-22 {
    font-size: 22px !important
}

.fs-23 {
    font-size: 23px !important
}

.fs-24 {
    font-size: 24px !important
}

.fs-25 {
    font-size: 25px !important
}

.fs-26 {
    font-size: 26px !important
}

.fs-27 {
    font-size: 27px !important
}

.fs-28 {
    font-size: 28px !important
}

.fs-29 {
    font-size: 29px !important
}

.fs-30 {
    font-size: 30px !important
}

.fs-31 {
    font-size: 31px !important
}

.fs-32 {
    font-size: 32px !important
}

.fs-33 {
    font-size: 33px !important
}

.fs-34 {
    font-size: 34px !important
}

.fs-35 {
    font-size: 35px !important
}

.fs-36 {
    font-size: 36px !important
}

.fs-37 {
    font-size: 37px !important
}

.fs-38 {
    font-size: 38px !important
}

.fs-39 {
    font-size: 39px !important
}

.fs-40 {
    font-size: 40px !important
}

.fs-41 {
    font-size: 41px !important
}

.fs-42 {
    font-size: 42px !important
}

.fs-43 {
    font-size: 43px !important
}

.fs-44 {
    font-size: 44px !important
}

.fs-45 {
    font-size: 45px !important
}

.fs-46 {
    font-size: 46px !important
}

.fs-47 {
    font-size: 47px !important
}

.fs-48 {
    font-size: 48px !important
}

.fs-49 {
    font-size: 49px !important
}

.fs-50 {
    font-size: 50px !important
}

.fs-51 {
    font-size: 51px !important
}

.fs-52 {
    font-size: 52px !important
}

.fs-53 {
    font-size: 53px !important
}

.fs-54 {
    font-size: 54px !important
}

.fs-55 {
    font-size: 55px !important
}

.fs-56 {
    font-size: 56px !important
}

.fs-57 {
    font-size: 57px !important
}

.fs-58 {
    font-size: 58px !important
}

.fs-59 {
    font-size: 59px !important
}

.fs-60 {
    font-size: 60px !important
}

.fs-61 {
    font-size: 61px !important
}

.fs-62 {
    font-size: 62px !important
}

.fs-63 {
    font-size: 63px !important
}

.fs-64 {
    font-size: 64px !important
}

.fs-65 {
    font-size: 65px !important
}

.fs-66 {
    font-size: 66px !important
}

.fs-67 {
    font-size: 67px !important
}

.fs-68 {
    font-size: 68px !important
}

.fs-69 {
    font-size: 69px !important
}

.fs-70 {
    font-size: 70px !important
}

.fs-71 {
    font-size: 71px !important
}

.fs-72 {
    font-size: 72px !important
}

.fs-73 {
    font-size: 73px !important
}

.fs-74 {
    font-size: 74px !important
}

.fs-75 {
    font-size: 75px !important
}

.fs-76 {
    font-size: 76px !important
}

.fs-77 {
    font-size: 77px !important
}

.fs-78 {
    font-size: 78px !important
}

.fs-79 {
    font-size: 79px !important
}

.fs-80 {
    font-size: 80px !important
}

.fs-81 {
    font-size: 81px !important
}

.fs-82 {
    font-size: 82px !important
}

.fs-83 {
    font-size: 83px !important
}

.fs-84 {
    font-size: 84px !important
}

.fs-85 {
    font-size: 85px !important
}

.fs-86 {
    font-size: 86px !important
}

.fs-87 {
    font-size: 87px !important
}

.fs-88 {
    font-size: 88px !important
}

.fs-89 {
    font-size: 89px !important
}

.fs-90 {
    font-size: 90px !important
}

.fs-91 {
    font-size: 91px !important
}

.fs-92 {
    font-size: 92px !important
}

.fs-93 {
    font-size: 93px !important
}

.fs-94 {
    font-size: 94px !important
}

.fs-95 {
    font-size: 95px !important
}

.fs-96 {
    font-size: 96px !important
}

.fs-97 {
    font-size: 97px !important
}

.fs-98 {
    font-size: 98px !important
}

.fs-99 {
    font-size: 99px !important
}

.fs-100 {
    font-size: 100px !important
}

.mt-2 {
    margin-top: 2px !important
}

.mt-3 {
    margin-top: 3px !important
}

.mt-4 {
    margin-top: 4px !important
}

.mt-5 {
    margin-top: 5px !important
}

.mt-6 {
    margin-top: 6px !important
}

.mt-7 {
    margin-top: 7px !important
}

.mt-8 {
    margin-top: 8px !important
}

.mt-9 {
    margin-top: 9px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-11 {
    margin-top: 11px !important
}

.mt-12 {
    margin-top: 12px !important
}

.mt-13 {
    margin-top: 13px !important
}

.mt-14 {
    margin-top: 14px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-16 {
    margin-top: 16px !important
}

.mt-17 {
    margin-top: 17px !important
}

.mt-18 {
    margin-top: 18px !important
}

.mt-19 {
    margin-top: 19px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-21 {
    margin-top: 21px !important
}

.mt-22 {
    margin-top: 22px !important
}

.mt-23 {
    margin-top: 23px !important
}

.mt-24 {
    margin-top: 24px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mt-26 {
    margin-top: 26px !important
}

.mt-27 {
    margin-top: 27px !important
}

.mt-28 {
    margin-top: 28px !important
}

.mt-29 {
    margin-top: 29px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-31 {
    margin-top: 31px !important
}

.mt-32 {
    margin-top: 32px !important
}

.mt-33 {
    margin-top: 33px !important
}

.mt-34 {
    margin-top: 34px !important
}

.mt-35 {
    margin-top: 35px !important
}

.mt-36 {
    margin-top: 36px !important
}

.mt-37 {
    margin-top: 37px !important
}

.mt-38 {
    margin-top: 38px !important
}

.mt-39 {
    margin-top: 39px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mt-41 {
    margin-top: 41px !important
}

.mt-42 {
    margin-top: 42px !important
}

.mt-43 {
    margin-top: 43px !important
}

.mt-44 {
    margin-top: 44px !important
}

.mt-45 {
    margin-top: 45px !important
}

.mt-46 {
    margin-top: 46px !important
}

.mt-47 {
    margin-top: 47px !important
}

.mt-48 {
    margin-top: 48px !important
}

.mt-49 {
    margin-top: 49px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-51 {
    margin-top: 51px !important
}

.mt-52 {
    margin-top: 52px !important
}

.mt-53 {
    margin-top: 53px !important
}

.mt-54 {
    margin-top: 54px !important
}

.mt-55 {
    margin-top: 55px !important
}

.mt-56 {
    margin-top: 56px !important
}

.mt-57 {
    margin-top: 57px !important
}

.mt-58 {
    margin-top: 58px !important
}

.mt-59 {
    margin-top: 59px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-61 {
    margin-top: 61px !important
}

.mt-62 {
    margin-top: 62px !important
}

.mt-63 {
    margin-top: 63px !important
}

.mt-64 {
    margin-top: 64px !important
}

.mt-65 {
    margin-top: 65px !important
}

.mt-66 {
    margin-top: 66px !important
}

.mt-67 {
    margin-top: 67px !important
}

.mt-68 {
    margin-top: 68px !important
}

.mt-69 {
    margin-top: 69px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mt-71 {
    margin-top: 71px !important
}

.mt-72 {
    margin-top: 72px !important
}

.mt-73 {
    margin-top: 73px !important
}

.mt-74 {
    margin-top: 74px !important
}

.mt-75 {
    margin-top: 75px !important
}

.mt-76 {
    margin-top: 76px !important
}

.mt-77 {
    margin-top: 77px !important
}

.mt-78 {
    margin-top: 78px !important
}

.mt-79 {
    margin-top: 79px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mt-81 {
    margin-top: 81px !important
}

.mt-82 {
    margin-top: 82px !important
}

.mt-83 {
    margin-top: 83px !important
}

.mt-84 {
    margin-top: 84px !important
}

.mt-85 {
    margin-top: 85px !important
}

.mt-86 {
    margin-top: 86px !important
}

.mt-87 {
    margin-top: 87px !important
}

.mt-88 {
    margin-top: 88px !important
}

.mt-89 {
    margin-top: 89px !important
}

.mt-90 {
    margin-top: 90px !important
}

.mt-91 {
    margin-top: 91px !important
}

.mt-92 {
    margin-top: 92px !important
}

.mt-93 {
    margin-top: 93px !important
}

.mt-94 {
    margin-top: 94px !important
}

.mt-95 {
    margin-top: 95px !important
}

.mt-96 {
    margin-top: 96px !important
}

.mt-97 {
    margin-top: 97px !important
}

.mt-98 {
    margin-top: 98px !important
}

.mt-99 {
    margin-top: 99px !important
}

.mt-100 {
    margin-top: 100px !important
}

.mt-101 {
    margin-top: 101px !important
}

.mt-102 {
    margin-top: 102px !important
}

.mt-103 {
    margin-top: 103px !important
}

.mt-104 {
    margin-top: 104px !important
}

.mt-105 {
    margin-top: 105px !important
}

.mt-106 {
    margin-top: 106px !important
}

.mt-107 {
    margin-top: 107px !important
}

.mt-108 {
    margin-top: 108px !important
}

.mt-109 {
    margin-top: 109px !important
}

.mt-110 {
    margin-top: 110px !important
}

.mt-111 {
    margin-top: 111px !important
}

.mt-112 {
    margin-top: 112px !important
}

.mt-113 {
    margin-top: 113px !important
}

.mt-114 {
    margin-top: 114px !important
}

.mt-115 {
    margin-top: 115px !important
}

.mt-116 {
    margin-top: 116px !important
}

.mt-117 {
    margin-top: 117px !important
}

.mt-118 {
    margin-top: 118px !important
}

.mt-119 {
    margin-top: 119px !important
}

.mt-120 {
}

.mt-121 {
    margin-top: 121px !important
}

.mt-122 {
    margin-top: 122px !important
}

.mt-123 {
    margin-top: 123px !important
}

.mt-124 {
    margin-top: 124px !important
}

.mt-125 {
    margin-top: 125px !important
}

.mt-126 {
    margin-top: 126px !important
}

.mt-127 {
    margin-top: 127px !important
}

.mt-128 {
    margin-top: 128px !important
}

.mt-129 {
    margin-top: 129px !important
}

.mt-130 {
    margin-top: 130px !important
}

.mt-131 {
    margin-top: 131px !important
}

.mt-132 {
    margin-top: 132px !important
}

.mt-133 {
    margin-top: 133px !important
}

.mt-134 {
    margin-top: 134px !important
}

.mt-135 {
    margin-top: 135px !important
}

.mt-136 {
    margin-top: 136px !important
}

.mt-137 {
    margin-top: 137px !important
}

.mt-138 {
    margin-top: 138px !important
}

.mt-139 {
    margin-top: 139px !important
}

.mt-140 {
    margin-top: 140px !important
}

.mt-141 {
    margin-top: 141px !important
}

.mt-142 {
    margin-top: 142px !important
}

.mt-143 {
    margin-top: 143px !important
}

.mt-144 {
    margin-top: 144px !important
}

.mt-145 {
    margin-top: 145px !important
}

.mt-146 {
    margin-top: 146px !important
}

.mt-147 {
    margin-top: 147px !important
}

.mt-148 {
    margin-top: 148px !important
}

.mt-149 {
    margin-top: 149px !important
}

.mt-150 {
    margin-top: 150px !important
}

.mb-2 {
    margin-bottom: 2px !important
}

.mb-3 {
    margin-bottom: 3px !important
}

.mb-4 {
    margin-bottom: 4px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-6 {
    margin-bottom: 6px !important
}

.mb-7 {
    margin-bottom: 7px !important
}

.mb-8 {
    margin-bottom: 8px !important
}

.mb-9 {
    margin-bottom: 9px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-11 {
    margin-bottom: 11px !important
}

.mb-12 {
    margin-bottom: 12px !important
}

.mb-13 {
    margin-bottom: 13px !important
}

.mb-14 {
    margin-bottom: 14px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-16 {
    margin-bottom: 16px !important
}

.mb-17 {
    margin-bottom: 17px !important
}

.mb-18 {
    margin-bottom: 18px !important
}

.mb-19 {
    margin-bottom: 19px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-21 {
    margin-bottom: 21px !important
}

.mb-22 {
    margin-bottom: 22px !important
}

.mb-23 {
    margin-bottom: 23px !important
}

.mb-24 {
    margin-bottom: 24px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-26 {
    margin-bottom: 26px !important
}

.mb-27 {
    margin-bottom: 27px !important
}

.mb-28 {
    margin-bottom: 28px !important
}

.mb-29 {
    margin-bottom: 29px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-31 {
    margin-bottom: 31px !important
}

.mb-32 {
    margin-bottom: 32px !important
}

.mb-33 {
    margin-bottom: 33px !important
}

.mb-34 {
    margin-bottom: 34px !important
}

.mb-35 {
    margin-bottom: 35px !important
}

.mb-36 {
    margin-bottom: 36px !important
}

.mb-37 {
    margin-bottom: 37px !important
}

.mb-38 {
    margin-bottom: 38px !important
}

.mb-39 {
    margin-bottom: 39px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-41 {
    margin-bottom: 41px !important
}

.mb-42 {
    margin-bottom: 42px !important
}

.mb-43 {
    margin-bottom: 43px !important
}

.mb-44 {
    margin-bottom: 44px !important
}

.mb-45 {
    margin-bottom: 45px !important
}

.mb-46 {
    margin-bottom: 46px !important
}

.mb-47 {
    margin-bottom: 47px !important
}

.mb-48 {
    margin-bottom: 48px !important
}

.mb-49 {
    margin-bottom: 49px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-51 {
    margin-bottom: 51px !important
}

.mb-52 {
    margin-bottom: 52px !important
}

.mb-53 {
    margin-bottom: 53px !important
}

.mb-54 {
    margin-bottom: 54px !important
}

.mb-55 {
    margin-bottom: 55px !important
}

.mb-56 {
    margin-bottom: 56px !important
}

.mb-57 {
    margin-bottom: 57px !important
}

.mb-58 {
    margin-bottom: 58px !important
}

.mb-59 {
    margin-bottom: 59px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.mb-61 {
    margin-bottom: 61px !important
}

.mb-62 {
    margin-bottom: 62px !important
}

.mb-63 {
    margin-bottom: 63px !important
}

.mb-64 {
    margin-bottom: 64px !important
}

.mb-65 {
    margin-bottom: 65px !important
}

.mb-66 {
    margin-bottom: 66px !important
}

.mb-67 {
    margin-bottom: 67px !important
}

.mb-68 {
    margin-bottom: 68px !important
}

.mb-69 {
    margin-bottom: 69px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.mb-71 {
    margin-bottom: 71px !important
}

.mb-72 {
    margin-bottom: 72px !important
}

.mb-73 {
    margin-bottom: 73px !important
}

.mb-74 {
    margin-bottom: 74px !important
}

.mb-75 {
    margin-bottom: 75px !important
}

.mb-76 {
    margin-bottom: 76px !important
}

.mb-77 {
    margin-bottom: 77px !important
}

.mb-78 {
    margin-bottom: 78px !important
}

.mb-79 {
    margin-bottom: 79px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.mb-81 {
    margin-bottom: 81px !important
}

.mb-82 {
    margin-bottom: 82px !important
}

.mb-83 {
    margin-bottom: 83px !important
}

.mb-84 {
    margin-bottom: 84px !important
}

.mb-85 {
    margin-bottom: 85px !important
}

.mb-86 {
    margin-bottom: 86px !important
}

.mb-87 {
    margin-bottom: 87px !important
}

.mb-88 {
    margin-bottom: 88px !important
}

.mb-89 {
    margin-bottom: 89px !important
}

.mb-90 {
    margin-bottom: 90px !important
}

.mb-91 {
    margin-bottom: 91px !important
}

.mb-92 {
    margin-bottom: 92px !important
}

.mb-93 {
    margin-bottom: 93px !important
}

.mb-94 {
    margin-bottom: 94px !important
}

.mb-95 {
    margin-bottom: 95px !important
}

.mb-96 {
    margin-bottom: 96px !important
}

.mb-97 {
    margin-bottom: 97px !important
}

.mb-98 {
    margin-bottom: 98px !important
}

.mb-99 {
    margin-bottom: 99px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.mb-101 {
    margin-bottom: 101px !important
}

.mb-102 {
    margin-bottom: 102px !important
}

.mb-103 {
    margin-bottom: 103px !important
}

.mb-104 {
    margin-bottom: 104px !important
}

.mb-105 {
    margin-bottom: 105px !important
}

.mb-106 {
    margin-bottom: 106px !important
}

.mb-107 {
    margin-bottom: 107px !important
}

.mb-108 {
    margin-bottom: 108px !important
}

.mb-109 {
    margin-bottom: 109px !important
}

.mb-110 {
    margin-bottom: 110px !important
}

.mb-111 {
    margin-bottom: 111px !important
}

.mb-112 {
    margin-bottom: 112px !important
}

.mb-113 {
    margin-bottom: 113px !important
}

.mb-114 {
    margin-bottom: 114px !important
}

.mb-115 {
    margin-bottom: 115px !important
}

.mb-116 {
    margin-bottom: 116px !important
}

.mb-117 {
    margin-bottom: 117px !important
}

.mb-118 {
    margin-bottom: 118px !important
}

.mb-119 {
    margin-bottom: 119px !important
}

.mb-120 {
    margin-bottom: 120px !important
}

.mb-121 {
    margin-bottom: 121px !important
}

.mb-122 {
    margin-bottom: 122px !important
}

.mb-123 {
    margin-bottom: 123px !important
}

.mb-124 {
    margin-bottom: 124px !important
}

.mb-125 {
    margin-bottom: 125px !important
}

.mb-126 {
    margin-bottom: 126px !important
}

.mb-127 {
    margin-bottom: 127px !important
}

.mb-128 {
    margin-bottom: 128px !important
}

.mb-129 {
    margin-bottom: 129px !important
}

.mb-130 {
    margin-bottom: 130px !important
}

.mb-131 {
    margin-bottom: 131px !important
}

.mb-132 {
    margin-bottom: 132px !important
}

.mb-133 {
    margin-bottom: 133px !important
}

.mb-134 {
    margin-bottom: 134px !important
}

.mb-135 {
    margin-bottom: 135px !important
}

.mb-136 {
    margin-bottom: 136px !important
}

.mb-137 {
    margin-bottom: 137px !important
}

.mb-138 {
    margin-bottom: 138px !important
}

.mb-139 {
    margin-bottom: 139px !important
}

.mb-140 {
    margin-bottom: 140px !important
}

.mb-141 {
    margin-bottom: 141px !important
}

.mb-142 {
    margin-bottom: 142px !important
}

.mb-143 {
    margin-bottom: 143px !important
}

.mb-144 {
    margin-bottom: 144px !important
}

.mb-145 {
    margin-bottom: 145px !important
}

.mb-146 {
    margin-bottom: 146px !important
}

.mb-147 {
    margin-bottom: 147px !important
}

.mb-148 {
    margin-bottom: 148px !important
}

.mb-149 {
    margin-bottom: 149px !important
}

.mb-150 {
    margin-bottom: 150px !important
}

.mr-2 {
    margin-right: 2px !important
}

.mr-3 {
    margin-right: 3px !important
}

.mr-4 {
    margin-right: 4px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-6 {
    margin-right: 6px !important
}

.mr-7 {
    margin-right: 7px !important
}

.mr-8 {
    margin-right: 8px !important
}

.mr-9 {
    margin-right: 9px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-11 {
    margin-right: 11px !important
}

.mr-12 {
    margin-right: 12px !important
}

.mr-13 {
    margin-right: 13px !important
}

.mr-14 {
    margin-right: 14px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-16 {
    margin-right: 16px !important
}

.mr-17 {
    margin-right: 17px !important
}

.mr-18 {
    margin-right: 18px !important
}

.mr-19 {
    margin-right: 19px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-21 {
    margin-right: 21px !important
}

.mr-22 {
    margin-right: 22px !important
}

.mr-23 {
    margin-right: 23px !important
}

.mr-24 {
    margin-right: 24px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mr-26 {
    margin-right: 26px !important
}

.mr-27 {
    margin-right: 27px !important
}

.mr-28 {
    margin-right: 28px !important
}

.mr-29 {
    margin-right: 29px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mr-31 {
    margin-right: 31px !important
}

.mr-32 {
    margin-right: 32px !important
}

.mr-33 {
    margin-right: 33px !important
}

.mr-34 {
    margin-right: 34px !important
}

.mr-35 {
    margin-right: 35px !important
}

.mr-36 {
    margin-right: 36px !important
}

.mr-37 {
    margin-right: 37px !important
}

.mr-38 {
    margin-right: 38px !important
}

.mr-39 {
    margin-right: 39px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mr-41 {
    margin-right: 41px !important
}

.mr-42 {
    margin-right: 42px !important
}

.mr-43 {
    margin-right: 43px !important
}

.mr-44 {
    margin-right: 44px !important
}

.mr-45 {
    margin-right: 45px !important
}

.mr-46 {
    margin-right: 46px !important
}

.mr-47 {
    margin-right: 47px !important
}

.mr-48 {
    margin-right: 48px !important
}

.mr-49 {
    margin-right: 49px !important
}

.mr-50 {
    margin-right: 50px !important
}

.mr-51 {
    margin-right: 51px !important
}

.mr-52 {
    margin-right: 52px !important
}

.mr-53 {
    margin-right: 53px !important
}

.mr-54 {
    margin-right: 54px !important
}

.mr-55 {
    margin-right: 55px !important
}

.mr-56 {
    margin-right: 56px !important
}

.mr-57 {
    margin-right: 57px !important
}

.mr-58 {
    margin-right: 58px !important
}

.mr-59 {
    margin-right: 59px !important
}

.mr-60 {
    margin-right: 60px !important
}

.mr-61 {
    margin-right: 61px !important
}

.mr-62 {
    margin-right: 62px !important
}

.mr-63 {
    margin-right: 63px !important
}

.mr-64 {
    margin-right: 64px !important
}

.mr-65 {
    margin-right: 65px !important
}

.mr-66 {
    margin-right: 66px !important
}

.mr-67 {
    margin-right: 67px !important
}

.mr-68 {
    margin-right: 68px !important
}

.mr-69 {
    margin-right: 69px !important
}

.mr-70 {
    margin-right: 70px !important
}

.mr-71 {
    margin-right: 71px !important
}

.mr-72 {
    margin-right: 72px !important
}

.mr-73 {
    margin-right: 73px !important
}

.mr-74 {
    margin-right: 74px !important
}

.mr-75 {
    margin-right: 75px !important
}

.mr-76 {
    margin-right: 76px !important
}

.mr-77 {
    margin-right: 77px !important
}

.mr-78 {
    margin-right: 78px !important
}

.mr-79 {
    margin-right: 79px !important
}

.mr-80 {
    margin-right: 80px !important
}

.mr-81 {
    margin-right: 81px !important
}

.mr-82 {
    margin-right: 82px !important
}

.mr-83 {
    margin-right: 83px !important
}

.mr-84 {
    margin-right: 84px !important
}

.mr-85 {
    margin-right: 85px !important
}

.mr-86 {
    margin-right: 86px !important
}

.mr-87 {
    margin-right: 87px !important
}

.mr-88 {
    margin-right: 88px !important
}

.mr-89 {
    margin-right: 89px !important
}

.mr-90 {
    margin-right: 90px !important
}

.mr-91 {
    margin-right: 91px !important
}

.mr-92 {
    margin-right: 92px !important
}

.mr-93 {
    margin-right: 93px !important
}

.mr-94 {
    margin-right: 94px !important
}

.mr-95 {
    margin-right: 95px !important
}

.mr-96 {
    margin-right: 96px !important
}

.mr-97 {
    margin-right: 97px !important
}

.mr-98 {
    margin-right: 98px !important
}

.mr-99 {
    margin-right: 99px !important
}

.mr-100 {
    margin-right: 100px !important
}

.mr-101 {
    margin-right: 101px !important
}

.mr-102 {
    margin-right: 102px !important
}

.mr-103 {
    margin-right: 103px !important
}

.mr-104 {
    margin-right: 104px !important
}

.mr-105 {
    margin-right: 105px !important
}

.mr-106 {
    margin-right: 106px !important
}

.mr-107 {
    margin-right: 107px !important
}

.mr-108 {
    margin-right: 108px !important
}

.mr-109 {
    margin-right: 109px !important
}

.mr-110 {
    margin-right: 110px !important
}

.mr-111 {
    margin-right: 111px !important
}

.mr-112 {
    margin-right: 112px !important
}

.mr-113 {
    margin-right: 113px !important
}

.mr-114 {
    margin-right: 114px !important
}

.mr-115 {
    margin-right: 115px !important
}

.mr-116 {
    margin-right: 116px !important
}

.mr-117 {
    margin-right: 117px !important
}

.mr-118 {
    margin-right: 118px !important
}

.mr-119 {
    margin-right: 119px !important
}

.mr-120 {
    margin-right: 120px !important
}

.mr-121 {
    margin-right: 121px !important
}

.mr-122 {
    margin-right: 122px !important
}

.mr-123 {
    margin-right: 123px !important
}

.mr-124 {
    margin-right: 124px !important
}

.mr-125 {
    margin-right: 125px !important
}

.mr-126 {
    margin-right: 126px !important
}

.mr-127 {
    margin-right: 127px !important
}

.mr-128 {
    margin-right: 128px !important
}

.mr-129 {
    margin-right: 129px !important
}

.mr-130 {
    margin-right: 130px !important
}

.mr-131 {
    margin-right: 131px !important
}

.mr-132 {
    margin-right: 132px !important
}

.mr-133 {
    margin-right: 133px !important
}

.mr-134 {
    margin-right: 134px !important
}

.mr-135 {
    margin-right: 135px !important
}

.mr-136 {
    margin-right: 136px !important
}

.mr-137 {
    margin-right: 137px !important
}

.mr-138 {
    margin-right: 138px !important
}

.mr-139 {
    margin-right: 139px !important
}

.mr-140 {
    margin-right: 140px !important
}

.mr-141 {
    margin-right: 141px !important
}

.mr-142 {
    margin-right: 142px !important
}

.mr-143 {
    margin-right: 143px !important
}

.mr-144 {
    margin-right: 144px !important
}

.mr-145 {
    margin-right: 145px !important
}

.mr-146 {
    margin-right: 146px !important
}

.mr-147 {
    margin-right: 147px !important
}

.mr-148 {
    margin-right: 148px !important
}

.mr-149 {
    margin-right: 149px !important
}

.mr-150 {
    margin-right: 150px !important
}

.ml-2 {
    margin-left: 2px !important
}

.ml-3 {
    margin-left: 3px !important
}

.ml-4 {
    margin-left: 4px !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-6 {
    margin-left: 6px !important
}

.ml-7 {
    margin-left: 7px !important
}

.ml-8 {
    margin-left: 8px !important
}

.ml-9 {
    margin-left: 9px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-11 {
    margin-left: 11px !important
}

.ml-12 {
    margin-left: 12px !important
}

.ml-13 {
    margin-left: 13px !important
}

.ml-14 {
    margin-left: 14px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-16 {
    margin-left: 16px !important
}

.ml-17 {
    margin-left: 17px !important
}

.ml-18 {
    margin-left: 18px !important
}

.ml-19 {
    margin-left: 19px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-21 {
    margin-left: 21px !important
}

.ml-22 {
    margin-left: 22px !important
}

.ml-23 {
    margin-left: 23px !important
}

.ml-24 {
    margin-left: 24px !important
}

.ml-25 {
    margin-left: 25px !important
}

.ml-26 {
    margin-left: 26px !important
}

.ml-27 {
    margin-left: 27px !important
}

.ml-28 {
    margin-left: 28px !important
}

.ml-29 {
    margin-left: 29px !important
}

.ml-30 {
    margin-left: 30px !important
}

.ml-31 {
    margin-left: 31px !important
}

.ml-32 {
    margin-left: 32px !important
}

.ml-33 {
    margin-left: 33px !important
}

.ml-34 {
    margin-left: 34px !important
}

.ml-35 {
    margin-left: 35px !important
}

.ml-36 {
    margin-left: 36px !important
}

.ml-37 {
    margin-left: 37px !important
}

.ml-38 {
    margin-left: 38px !important
}

.ml-39 {
    margin-left: 39px !important
}

.ml-40 {
    margin-left: 40px !important
}

.ml-41 {
    margin-left: 41px !important
}

.ml-42 {
    margin-left: 42px !important
}

.ml-43 {
    margin-left: 43px !important
}

.ml-44 {
    margin-left: 44px !important
}

.ml-45 {
    margin-left: 45px !important
}

.ml-46 {
    margin-left: 46px !important
}

.ml-47 {
    margin-left: 47px !important
}

.ml-48 {
    margin-left: 48px !important
}

.ml-49 {
    margin-left: 49px !important
}

.ml-50 {
    margin-left: 50px !important
}

.ml-51 {
    margin-left: 51px !important
}

.ml-52 {
    margin-left: 52px !important
}

.ml-53 {
    margin-left: 53px !important
}

.ml-54 {
    margin-left: 54px !important
}

.ml-55 {
    margin-left: 55px !important
}

.ml-56 {
    margin-left: 56px !important
}

.ml-57 {
    margin-left: 57px !important
}

.ml-58 {
    margin-left: 58px !important
}

.ml-59 {
    margin-left: 59px !important
}

.ml-60 {
    margin-left: 60px !important
}

.ml-61 {
    margin-left: 61px !important
}

.ml-62 {
    margin-left: 62px !important
}

.ml-63 {
    margin-left: 63px !important
}

.ml-64 {
    margin-left: 64px !important
}

.ml-65 {
    margin-left: 65px !important
}

.ml-66 {
    margin-left: 66px !important
}

.ml-67 {
    margin-left: 67px !important
}

.ml-68 {
    margin-left: 68px !important
}

.ml-69 {
    margin-left: 69px !important
}

.ml-70 {
    margin-left: 70px !important
}

.ml-71 {
    margin-left: 71px !important
}

.ml-72 {
    margin-left: 72px !important
}

.ml-73 {
    margin-left: 73px !important
}

.ml-74 {
    margin-left: 74px !important
}

.ml-75 {
    margin-left: 75px !important
}

.ml-76 {
    margin-left: 76px !important
}

.ml-77 {
    margin-left: 77px !important
}

.ml-78 {
    margin-left: 78px !important
}

.ml-79 {
    margin-left: 79px !important
}

.ml-80 {
    margin-left: 80px !important
}

.ml-81 {
    margin-left: 81px !important
}

.ml-82 {
    margin-left: 82px !important
}

.ml-83 {
    margin-left: 83px !important
}

.ml-84 {
    margin-left: 84px !important
}

.ml-85 {
    margin-left: 85px !important
}

.ml-86 {
    margin-left: 86px !important
}

.ml-87 {
    margin-left: 87px !important
}

.ml-88 {
    margin-left: 88px !important
}

.ml-89 {
    margin-left: 89px !important
}

.ml-90 {
    margin-left: 90px !important
}

.ml-91 {
    margin-left: 91px !important
}

.ml-92 {
    margin-left: 92px !important
}

.ml-93 {
    margin-left: 93px !important
}

.ml-94 {
    margin-left: 94px !important
}

.ml-95 {
    margin-left: 95px !important
}

.ml-96 {
    margin-left: 96px !important
}

.ml-97 {
    margin-left: 97px !important
}

.ml-98 {
    margin-left: 98px !important
}

.ml-99 {
    margin-left: 99px !important
}

.ml-100 {
    margin-left: 100px !important
}

.ml-101 {
    margin-left: 101px !important
}

.ml-102 {
    margin-left: 102px !important
}

.ml-103 {
    margin-left: 103px !important
}

.ml-104 {
    margin-left: 104px !important
}

.ml-105 {
    margin-left: 105px !important
}

.ml-106 {
    margin-left: 106px !important
}

.ml-107 {
    margin-left: 107px !important
}

.ml-108 {
    margin-left: 108px !important
}

.ml-109 {
    margin-left: 109px !important
}

.ml-110 {
    margin-left: 110px !important
}

.ml-111 {
    margin-left: 111px !important
}

.ml-112 {
    margin-left: 112px !important
}

.ml-113 {
    margin-left: 113px !important
}

.ml-114 {
    margin-left: 114px !important
}

.ml-115 {
    margin-left: 115px !important
}

.ml-116 {
    margin-left: 116px !important
}

.ml-117 {
    margin-left: 117px !important
}

.ml-118 {
    margin-left: 118px !important
}

.ml-119 {
    margin-left: 119px !important
}

.ml-120 {
    margin-left: 120px !important
}

.ml-121 {
    margin-left: 121px !important
}

.ml-122 {
    margin-left: 122px !important
}

.ml-123 {
    margin-left: 123px !important
}

.ml-124 {
    margin-left: 124px !important
}

.ml-125 {
    margin-left: 125px !important
}

.ml-126 {
    margin-left: 126px !important
}

.ml-127 {
    margin-left: 127px !important
}

.ml-128 {
    margin-left: 128px !important
}

.ml-129 {
    margin-left: 129px !important
}

.ml-130 {
    margin-left: 130px !important
}

.ml-131 {
    margin-left: 131px !important
}

.ml-132 {
    margin-left: 132px !important
}

.ml-133 {
    margin-left: 133px !important
}

.ml-134 {
    margin-left: 134px !important
}

.ml-135 {
    margin-left: 135px !important
}

.ml-136 {
    margin-left: 136px !important
}

.ml-137 {
    margin-left: 137px !important
}

.ml-138 {
    margin-left: 138px !important
}

.ml-139 {
    margin-left: 139px !important
}

.ml-140 {
    margin-left: 140px !important
}

.ml-141 {
    margin-left: 141px !important
}

.ml-142 {
    margin-left: 142px !important
}

.ml-143 {
    margin-left: 143px !important
}

.ml-144 {
    margin-left: 144px !important
}

.ml-145 {
    margin-left: 145px !important
}

.ml-146 {
    margin-left: 146px !important
}

.ml-147 {
    margin-left: 147px !important
}

.ml-148 {
    margin-left: 148px !important
}

.ml-149 {
    margin-left: 149px !important
}

.ml-150 {
    margin-left: 150px !important
}

.pl-2 {
    padding-left: 2px !important
}

.pl-3 {
    padding-left: 3px !important
}

.pl-4 {
    padding-left: 4px !important
}

.pl-5 {
    padding-left: 5px !important
}

.pl-6 {
    padding-left: 6px !important
}

.pl-7 {
    padding-left: 7px !important
}

.pl-8 {
    padding-left: 8px !important
}

.pl-9 {
    padding-left: 9px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-11 {
    padding-left: 11px !important
}

.pl-12 {
    padding-left: 12px !important
}

.pl-13 {
    padding-left: 13px !important
}

.pl-14 {
    padding-left: 14px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-16 {
    padding-left: 16px !important
}

.pl-17 {
    padding-left: 17px !important
}

.pl-18 {
    padding-left: 18px !important
}

.pl-19 {
    padding-left: 19px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-21 {
    padding-left: 21px !important
}

.pl-22 {
    padding-left: 22px !important
}

.pl-23 {
    padding-left: 23px !important
}

.pl-24 {
    padding-left: 24px !important
}

.pl-25 {
    padding-left: 25px !important
}

.pl-26 {
    padding-left: 26px !important
}

.pl-27 {
    padding-left: 27px !important
}

.pl-28 {
    padding-left: 28px !important
}

.pl-29 {
    padding-left: 29px !important
}

.pl-30 {
    padding-left: 30px !important
}

.pl-31 {
    padding-left: 31px !important
}

.pl-32 {
    padding-left: 32px !important
}

.pl-33 {
    padding-left: 33px !important
}

.pl-34 {
    padding-left: 34px !important
}

.pl-35 {
    padding-left: 35px !important
}

.pl-36 {
    padding-left: 36px !important
}

.pl-37 {
    padding-left: 37px !important
}

.pl-38 {
    padding-left: 38px !important
}

.pl-39 {
    padding-left: 39px !important
}

.pl-40 {
    padding-left: 40px !important
}

.pl-41 {
    padding-left: 41px !important
}

.pl-42 {
    padding-left: 42px !important
}

.pl-43 {
    padding-left: 43px !important
}

.pl-44 {
    padding-left: 44px !important
}

.pl-45 {
    padding-left: 45px !important
}

.pl-46 {
    padding-left: 46px !important
}

.pl-47 {
    padding-left: 47px !important
}

.pl-48 {
    padding-left: 48px !important
}

.pl-49 {
    padding-left: 49px !important
}

.pl-50 {
    padding-left: 50px !important
}

.pl-51 {
    padding-left: 51px !important
}

.pl-52 {
    padding-left: 52px !important
}

.pl-53 {
    padding-left: 53px !important
}

.pl-54 {
    padding-left: 54px !important
}

.pl-55 {
    padding-left: 55px !important
}

.pl-56 {
    padding-left: 56px !important
}

.pl-57 {
    padding-left: 57px !important
}

.pl-58 {
    padding-left: 58px !important
}

.pl-59 {
    padding-left: 59px !important
}

.pl-60 {
    padding-left: 60px !important
}

.pl-61 {
    padding-left: 61px !important
}

.pl-62 {
    padding-left: 62px !important
}

.pl-63 {
    padding-left: 63px !important
}

.pl-64 {
    padding-left: 64px !important
}

.pl-65 {
    padding-left: 65px !important
}

.pl-66 {
    padding-left: 66px !important
}

.pl-67 {
    padding-left: 67px !important
}

.pl-68 {
    padding-left: 68px !important
}

.pl-69 {
    padding-left: 69px !important
}

.pl-70 {
    padding-left: 70px !important
}

.pl-71 {
    padding-left: 71px !important
}

.pl-72 {
    padding-left: 72px !important
}

.pl-73 {
    padding-left: 73px !important
}

.pl-74 {
    padding-left: 74px !important
}

.pl-75 {
    padding-left: 75px !important
}

.pl-76 {
    padding-left: 76px !important
}

.pl-77 {
    padding-left: 77px !important
}

.pl-78 {
    padding-left: 78px !important
}

.pl-79 {
    padding-left: 79px !important
}

.pl-80 {
    padding-left: 80px !important
}

.pl-81 {
    padding-left: 81px !important
}

.pl-82 {
    padding-left: 82px !important
}

.pl-83 {
    padding-left: 83px !important
}

.pl-84 {
    padding-left: 84px !important
}

.pl-85 {
    padding-left: 85px !important
}

.pl-86 {
    padding-left: 86px !important
}

.pl-87 {
    padding-left: 87px !important
}

.pl-88 {
    padding-left: 88px !important
}

.pl-89 {
    padding-left: 89px !important
}

.pl-90 {
    padding-left: 90px !important
}

.pl-91 {
    padding-left: 91px !important
}

.pl-92 {
    padding-left: 92px !important
}

.pl-93 {
    padding-left: 93px !important
}

.pl-94 {
    padding-left: 94px !important
}

.pl-95 {
    padding-left: 95px !important
}

.pl-96 {
    padding-left: 96px !important
}

.pl-97 {
    padding-left: 97px !important
}

.pl-98 {
    padding-left: 98px !important
}

.pl-99 {
    padding-left: 99px !important
}

.pl-100 {
    padding-left: 100px !important
}

.pl-101 {
    padding-left: 101px !important
}

.pl-102 {
    padding-left: 102px !important
}

.pl-103 {
    padding-left: 103px !important
}

.pl-104 {
    padding-left: 104px !important
}

.pl-105 {
    padding-left: 105px !important
}

.pl-106 {
    padding-left: 106px !important
}

.pl-107 {
    padding-left: 107px !important
}

.pl-108 {
    padding-left: 108px !important
}

.pl-109 {
    padding-left: 109px !important
}

.pl-110 {
    padding-left: 110px !important
}

.pl-111 {
    padding-left: 111px !important
}

.pl-112 {
    padding-left: 112px !important
}

.pl-113 {
    padding-left: 113px !important
}

.pl-114 {
    padding-left: 114px !important
}

.pl-115 {
    padding-left: 115px !important
}

.pl-116 {
    padding-left: 116px !important
}

.pl-117 {
    padding-left: 117px !important
}

.pl-118 {
    padding-left: 118px !important
}

.pl-119 {
    padding-left: 119px !important
}

.pl-120 {
    padding-left: 120px !important
}

.pl-121 {
    padding-left: 121px !important
}

.pl-122 {
    padding-left: 122px !important
}

.pl-123 {
    padding-left: 123px !important
}

.pl-124 {
    padding-left: 124px !important
}

.pl-125 {
    padding-left: 125px !important
}

.pl-126 {
    padding-left: 126px !important
}

.pl-127 {
    padding-left: 127px !important
}

.pl-128 {
    padding-left: 128px !important
}

.pl-129 {
    padding-left: 129px !important
}

.pl-130 {
    padding-left: 130px !important
}

.pl-131 {
    padding-left: 131px !important
}

.pl-132 {
    padding-left: 132px !important
}

.pl-133 {
    padding-left: 133px !important
}

.pl-134 {
    padding-left: 134px !important
}

.pl-135 {
    padding-left: 135px !important
}

.pl-136 {
    padding-left: 136px !important
}

.pl-137 {
    padding-left: 137px !important
}

.pl-138 {
    padding-left: 138px !important
}

.pl-139 {
    padding-left: 139px !important
}

.pl-140 {
    padding-left: 140px !important
}

.pl-141 {
    padding-left: 141px !important
}

.pl-142 {
    padding-left: 142px !important
}

.pl-143 {
    padding-left: 143px !important
}

.pl-144 {
    padding-left: 144px !important
}

.pl-145 {
    padding-left: 145px !important
}

.pl-146 {
    padding-left: 146px !important
}

.pl-147 {
    padding-left: 147px !important
}

.pl-148 {
    padding-left: 148px !important
}

.pl-149 {
    padding-left: 149px !important
}

.pl-150 {
    padding-left: 150px !important
}

.pr-2 {
    padding-right: 2px !important
}

.pr-3 {
    padding-right: 3px !important
}

.pr-4 {
    padding-right: 4px !important
}

.pr-5 {
    padding-right: 5px !important
}

.pr-6 {
    padding-right: 6px !important
}

.pr-7 {
    padding-right: 7px !important
}

.pr-8 {
    padding-right: 8px !important
}

.pr-9 {
    padding-right: 9px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-11 {
    padding-right: 11px !important
}

.pr-12 {
    padding-right: 12px !important
}

.pr-13 {
    padding-right: 13px !important
}

.pr-14 {
    padding-right: 14px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-16 {
    padding-right: 16px !important
}

.pr-17 {
    padding-right: 17px !important
}

.pr-18 {
    padding-right: 18px !important
}

.pr-19 {
    padding-right: 19px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-21 {
    padding-right: 21px !important
}

.pr-22 {
    padding-right: 22px !important
}

.pr-23 {
    padding-right: 23px !important
}

.pr-24 {
    padding-right: 24px !important
}

.pr-25 {
    padding-right: 25px !important
}

.pr-26 {
    padding-right: 26px !important
}

.pr-27 {
    padding-right: 27px !important
}

.pr-28 {
    padding-right: 28px !important
}

.pr-29 {
    padding-right: 29px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-31 {
    padding-right: 31px !important
}

.pr-32 {
    padding-right: 32px !important
}

.pr-33 {
    padding-right: 33px !important
}

.pr-34 {
    padding-right: 34px !important
}

.pr-35 {
    padding-right: 35px !important
}

.pr-36 {
    padding-right: 36px !important
}

.pr-37 {
    padding-right: 37px !important
}

.pr-38 {
    padding-right: 38px !important
}

.pr-39 {
    padding-right: 39px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pr-41 {
    padding-right: 41px !important
}

.pr-42 {
    padding-right: 42px !important
}

.pr-43 {
    padding-right: 43px !important
}

.pr-44 {
    padding-right: 44px !important
}

.pr-45 {
    padding-right: 45px !important
}

.pr-46 {
    padding-right: 46px !important
}

.pr-47 {
    padding-right: 47px !important
}

.pr-48 {
    padding-right: 48px !important
}

.pr-49 {
    padding-right: 49px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pr-51 {
    padding-right: 51px !important
}

.pr-52 {
    padding-right: 52px !important
}

.pr-53 {
    padding-right: 53px !important
}

.pr-54 {
    padding-right: 54px !important
}

.pr-55 {
    padding-right: 55px !important
}

.pr-56 {
    padding-right: 56px !important
}

.pr-57 {
    padding-right: 57px !important
}

.pr-58 {
    padding-right: 58px !important
}

.pr-59 {
    padding-right: 59px !important
}

.pr-60 {
    padding-right: 60px !important
}

.pr-61 {
    padding-right: 61px !important
}

.pr-62 {
    padding-right: 62px !important
}

.pr-63 {
    padding-right: 63px !important
}

.pr-64 {
    padding-right: 64px !important
}

.pr-65 {
    padding-right: 65px !important
}

.pr-66 {
    padding-right: 66px !important
}

.pr-67 {
    padding-right: 67px !important
}

.pr-68 {
    padding-right: 68px !important
}

.pr-69 {
    padding-right: 69px !important
}

.pr-70 {
    padding-right: 70px !important
}

.pr-71 {
    padding-right: 71px !important
}

.pr-72 {
    padding-right: 72px !important
}

.pr-73 {
    padding-right: 73px !important
}

.pr-74 {
    padding-right: 74px !important
}

.pr-75 {
    padding-right: 75px !important
}

.pr-76 {
    padding-right: 76px !important
}

.pr-77 {
    padding-right: 77px !important
}

.pr-78 {
    padding-right: 78px !important
}

.pr-79 {
    padding-right: 79px !important
}

.pr-80 {
    padding-right: 80px !important
}

.pr-81 {
    padding-right: 81px !important
}

.pr-82 {
    padding-right: 82px !important
}

.pr-83 {
    padding-right: 83px !important
}

.pr-84 {
    padding-right: 84px !important
}

.pr-85 {
    padding-right: 85px !important
}

.pr-86 {
    padding-right: 86px !important
}

.pr-87 {
    padding-right: 87px !important
}

.pr-88 {
    padding-right: 88px !important
}

.pr-89 {
    padding-right: 89px !important
}

.pr-90 {
    padding-right: 90px !important
}

.pr-91 {
    padding-right: 91px !important
}

.pr-92 {
    padding-right: 92px !important
}

.pr-93 {
    padding-right: 93px !important
}

.pr-94 {
    padding-right: 94px !important
}

.pr-95 {
    padding-right: 95px !important
}

.pr-96 {
    padding-right: 96px !important
}

.pr-97 {
    padding-right: 97px !important
}

.pr-98 {
    padding-right: 98px !important
}

.pr-99 {
    padding-right: 99px !important
}

.pr-100 {
    padding-right: 100px !important
}

.pr-101 {
    padding-right: 101px !important
}

.pr-102 {
    padding-right: 102px !important
}

.pr-103 {
    padding-right: 103px !important
}

.pr-104 {
    padding-right: 104px !important
}

.pr-105 {
    padding-right: 105px !important
}

.pr-106 {
    padding-right: 106px !important
}

.pr-107 {
    padding-right: 107px !important
}

.pr-108 {
    padding-right: 108px !important
}

.pr-109 {
    padding-right: 109px !important
}

.pr-110 {
    padding-right: 110px !important
}

.pr-111 {
    padding-right: 111px !important
}

.pr-112 {
    padding-right: 112px !important
}

.pr-113 {
    padding-right: 113px !important
}

.pr-114 {
    padding-right: 114px !important
}

.pr-115 {
    padding-right: 115px !important
}

.pr-116 {
    padding-right: 116px !important
}

.pr-117 {
    padding-right: 117px !important
}

.pr-118 {
    padding-right: 118px !important
}

.pr-119 {
    padding-right: 119px !important
}

.pr-120 {
    padding-right: 120px !important
}

.pr-121 {
    padding-right: 121px !important
}

.pr-122 {
    padding-right: 122px !important
}

.pr-123 {
    padding-right: 123px !important
}

.pr-124 {
    padding-right: 124px !important
}

.pr-125 {
    padding-right: 125px !important
}

.pr-126 {
    padding-right: 126px !important
}

.pr-127 {
    padding-right: 127px !important
}

.pr-128 {
    padding-right: 128px !important
}

.pr-129 {
    padding-right: 129px !important
}

.pr-130 {
    padding-right: 130px !important
}

.pr-131 {
    padding-right: 131px !important
}

.pr-132 {
    padding-right: 132px !important
}

.pr-133 {
    padding-right: 133px !important
}

.pr-134 {
    padding-right: 134px !important
}

.pr-135 {
    padding-right: 135px !important
}

.pr-136 {
    padding-right: 136px !important
}

.pr-137 {
    padding-right: 137px !important
}

.pr-138 {
    padding-right: 138px !important
}

.pr-139 {
    padding-right: 139px !important
}

.pr-140 {
    padding-right: 140px !important
}

.pr-141 {
    padding-right: 141px !important
}

.pr-142 {
    padding-right: 142px !important
}

.pr-143 {
    padding-right: 143px !important
}

.pr-144 {
    padding-right: 144px !important
}

.pr-145 {
    padding-right: 145px !important
}

.pr-146 {
    padding-right: 146px !important
}

.pr-147 {
    padding-right: 147px !important
}

.pr-148 {
    padding-right: 148px !important
}

.pr-149 {
    padding-right: 149px !important
}

.pr-150 {
    padding-right: 150px !important
}

.pt-2 {
    padding-top: 2px !important
}

.pt-3 {
    padding-top: 3px !important
}

.pt-4 {
    padding-top: 4px !important
}

.pt-5 {
    padding-top: 5px !important
}

.pt-6 {
    padding-top: 6px !important
}

.pt-7 {
    padding-top: 7px !important
}

.pt-8 {
    padding-top: 8px !important
}

.pt-9 {
    padding-top: 9px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-11 {
    padding-top: 11px !important
}

.pt-12 {
    padding-top: 12px !important
}

.pt-13 {
    padding-top: 13px !important
}

.pt-14 {
    padding-top: 14px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-16 {
    padding-top: 16px !important
}

.pt-17 {
    padding-top: 17px !important
}

.pt-18 {
    padding-top: 18px !important
}

.pt-19 {
    padding-top: 19px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-21 {
    padding-top: 21px !important
}

.pt-22 {
    padding-top: 22px !important
}

.pt-23 {
    padding-top: 23px !important
}

.pt-24 {
    padding-top: 24px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-26 {
    padding-top: 26px !important
}

.pt-27 {
    padding-top: 27px !important
}

.pt-28 {
    padding-top: 28px !important
}

.pt-29 {
    padding-top: 29px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pt-31 {
    padding-top: 31px !important
}

.pt-32 {
    padding-top: 32px !important
}

.pt-33 {
    padding-top: 33px !important
}

.pt-34 {
    padding-top: 34px !important
}

.pt-35 {
    padding-top: 35px !important
}

.pt-36 {
    padding-top: 36px !important
}

.pt-37 {
    padding-top: 37px !important
}

.pt-38 {
    padding-top: 38px !important
}

.pt-39 {
    padding-top: 39px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-41 {
    padding-top: 41px !important
}

.pt-42 {
    padding-top: 42px !important
}

.pt-43 {
    padding-top: 43px !important
}

.pt-44 {
    padding-top: 44px !important
}

.pt-45 {
    padding-top: 45px !important
}

.pt-46 {
    padding-top: 46px !important
}

.pt-47 {
    padding-top: 47px !important
}

.pt-48 {
    padding-top: 48px !important
}

.pt-49 {
    padding-top: 49px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-51 {
    padding-top: 51px !important
}

.pt-52 {
    padding-top: 52px !important
}

.pt-53 {
    padding-top: 53px !important
}

.pt-54 {
    padding-top: 54px !important
}

.pt-55 {
    padding-top: 55px !important
}

.pt-56 {
    padding-top: 56px !important
}

.pt-57 {
    padding-top: 57px !important
}

.pt-58 {
    padding-top: 58px !important
}

.pt-59 {
    padding-top: 59px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-61 {
    padding-top: 61px !important
}

.pt-62 {
    padding-top: 62px !important
}

.pt-63 {
    padding-top: 63px !important
}

.pt-64 {
    padding-top: 64px !important
}

.pt-65 {
    padding-top: 65px !important
}

.pt-66 {
    padding-top: 66px !important
}

.pt-67 {
    padding-top: 67px !important
}

.pt-68 {
    padding-top: 68px !important
}

.pt-69 {
    padding-top: 69px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pt-71 {
    padding-top: 71px !important
}

.pt-72 {
    padding-top: 72px !important
}

.pt-73 {
    padding-top: 73px !important
}

.pt-74 {
    padding-top: 74px !important
}

.pt-75 {
    padding-top: 75px !important
}

.pt-76 {
    padding-top: 76px !important
}

.pt-77 {
    padding-top: 77px !important
}

.pt-78 {
    padding-top: 78px !important
}

.pt-79 {
    padding-top: 79px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pt-81 {
    padding-top: 81px !important
}

.pt-82 {
    padding-top: 82px !important
}

.pt-83 {
    padding-top: 83px !important
}

.pt-84 {
    padding-top: 84px !important
}

.pt-85 {
    padding-top: 85px !important
}

.pt-86 {
    padding-top: 86px !important
}

.pt-87 {
    padding-top: 87px !important
}

.pt-88 {
    padding-top: 88px !important
}

.pt-89 {
    padding-top: 89px !important
}

.pt-90 {
    padding-top: 90px !important
}

.pt-91 {
    padding-top: 91px !important
}

.pt-92 {
    padding-top: 92px !important
}

.pt-93 {
    padding-top: 93px !important
}

.pt-94 {
    padding-top: 94px !important
}

.pt-95 {
    padding-top: 95px !important
}

.pt-96 {
    padding-top: 96px !important
}

.pt-97 {
    padding-top: 97px !important
}

.pt-98 {
    padding-top: 98px !important
}

.pt-99 {
    padding-top: 99px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pt-101 {
    padding-top: 101px !important
}

.pt-102 {
    padding-top: 102px !important
}

.pt-103 {
    padding-top: 103px !important
}

.pt-104 {
    padding-top: 104px !important
}

.pt-105 {
    padding-top: 105px !important
}

.pt-106 {
    padding-top: 106px !important
}

.pt-107 {
    padding-top: 107px !important
}

.pt-108 {
    padding-top: 108px !important
}

.pt-109 {
    padding-top: 109px !important
}

.pt-110 {
    padding-top: 110px !important
}

.pt-111 {
    padding-top: 111px !important
}

.pt-112 {
    padding-top: 112px !important
}

.pt-113 {
    padding-top: 113px !important
}

.pt-114 {
    padding-top: 114px !important
}

.pt-115 {
    padding-top: 115px !important
}

.pt-116 {
    padding-top: 116px !important
}

.pt-117 {
    padding-top: 117px !important
}

.pt-118 {
    padding-top: 118px !important
}

.pt-119 {
    padding-top: 119px !important
}

.pt-120 {
    padding-top: 120px !important
}

.pt-121 {
    padding-top: 121px !important
}

.pt-122 {
    padding-top: 122px !important
}

.pt-123 {
    padding-top: 123px !important
}

.pt-124 {
    padding-top: 124px !important
}

.pt-125 {
    padding-top: 125px !important
}

.pt-126 {
    padding-top: 126px !important
}

.pt-127 {
    padding-top: 127px !important
}

.pt-128 {
    padding-top: 128px !important
}

.pt-129 {
    padding-top: 129px !important
}

.pt-130 {
    padding-top: 130px !important
}

.pt-131 {
    padding-top: 131px !important
}

.pt-132 {
    padding-top: 132px !important
}

.pt-133 {
    padding-top: 133px !important
}

.pt-134 {
    padding-top: 134px !important
}

.pt-135 {
    padding-top: 135px !important
}

.pt-136 {
    padding-top: 136px !important
}

.pt-137 {
    padding-top: 137px !important
}

.pt-138 {
    padding-top: 138px !important
}

.pt-139 {
    padding-top: 139px !important
}

.pt-140 {
    padding-top: 140px !important
}

.pt-141 {
    padding-top: 141px !important
}

.pt-142 {
    padding-top: 142px !important
}

.pt-143 {
    padding-top: 143px !important
}

.pt-144 {
    padding-top: 144px !important
}

.pt-145 {
    padding-top: 145px !important
}

.pt-146 {
    padding-top: 146px !important
}

.pt-147 {
    padding-top: 147px !important
}

.pt-148 {
    padding-top: 148px !important
}

.pt-149 {
    padding-top: 149px !important
}

.pt-150 {
    padding-top: 150px !important
}

.pb-2 {
    padding-bottom: 2px !important
}

.pb-3 {
    padding-bottom: 3px !important
}

.pb-4 {
    padding-bottom: 4px !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pb-6 {
    padding-bottom: 6px !important
}

.pb-7 {
    padding-bottom: 7px !important
}

.pb-8 {
    padding-bottom: 8px !important
}

.pb-9 {
    padding-bottom: 9px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-11 {
    padding-bottom: 11px !important
}

.pb-12 {
    padding-bottom: 12px !important
}

.pb-13 {
    padding-bottom: 13px !important
}

.pb-14 {
    padding-bottom: 14px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-16 {
    padding-bottom: 16px !important
}

.pb-17 {
    padding-bottom: 17px !important
}

.pb-18 {
    padding-bottom: 18px !important
}

.pb-19 {
    padding-bottom: 19px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-21 {
    padding-bottom: 21px !important
}

.pb-22 {
    padding-bottom: 22px !important
}

.pb-23 {
    padding-bottom: 23px !important
}

.pb-24 {
    padding-bottom: 24px !important
}

.pb-25 {
    padding-bottom: 25px !important
}

.pb-26 {
    padding-bottom: 26px !important
}

.pb-27 {
    padding-bottom: 27px !important
}

.pb-28 {
    padding-bottom: 28px !important
}

.pb-29 {
    padding-bottom: 29px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-31 {
    padding-bottom: 31px !important
}

.pb-32 {
    padding-bottom: 32px !important
}

.pb-33 {
    padding-bottom: 33px !important
}

.pb-34 {
    padding-bottom: 34px !important
}

.pb-35 {
    padding-bottom: 35px !important
}

.pb-36 {
    padding-bottom: 36px !important
}

.pb-37 {
    padding-bottom: 37px !important
}

.pb-38 {
    padding-bottom: 38px !important
}

.pb-39 {
    padding-bottom: 39px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-41 {
    padding-bottom: 41px !important
}

.pb-42 {
    padding-bottom: 42px !important
}

.pb-43 {
    padding-bottom: 43px !important
}

.pb-44 {
    padding-bottom: 44px !important
}

.pb-45 {
    padding-bottom: 45px !important
}

.pb-46 {
    padding-bottom: 46px !important
}

.pb-47 {
    padding-bottom: 47px !important
}

.pb-48 {
    padding-bottom: 48px !important
}

.pb-49 {
    padding-bottom: 49px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-51 {
    padding-bottom: 51px !important
}

.pb-52 {
    padding-bottom: 52px !important
}

.pb-53 {
    padding-bottom: 53px !important
}

.pb-54 {
    padding-bottom: 54px !important
}

.pb-55 {
    padding-bottom: 55px !important
}

.pb-56 {
    padding-bottom: 56px !important
}

.pb-57 {
    padding-bottom: 57px !important
}

.pb-58 {
    padding-bottom: 58px !important
}

.pb-59 {
    padding-bottom: 59px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-61 {
    padding-bottom: 61px !important
}

.pb-62 {
    padding-bottom: 62px !important
}

.pb-63 {
    padding-bottom: 63px !important
}

.pb-64 {
    padding-bottom: 64px !important
}

.pb-65 {
    padding-bottom: 65px !important
}

.pb-66 {
    padding-bottom: 66px !important
}

.pb-67 {
    padding-bottom: 67px !important
}

.pb-68 {
    padding-bottom: 68px !important
}

.pb-69 {
    padding-bottom: 69px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pb-71 {
    padding-bottom: 71px !important
}

.pb-72 {
    padding-bottom: 72px !important
}

.pb-73 {
    padding-bottom: 73px !important
}

.pb-74 {
    padding-bottom: 74px !important
}

.pb-75 {
    padding-bottom: 75px !important
}

.pb-76 {
    padding-bottom: 76px !important
}

.pb-77 {
    padding-bottom: 77px !important
}

.pb-78 {
    padding-bottom: 78px !important
}

.pb-79 {
    padding-bottom: 79px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pb-81 {
    padding-bottom: 81px !important
}

.pb-82 {
    padding-bottom: 82px !important
}

.pb-83 {
    padding-bottom: 83px !important
}

.pb-84 {
    padding-bottom: 84px !important
}

.pb-85 {
    padding-bottom: 85px !important
}

.pb-86 {
    padding-bottom: 86px !important
}

.pb-87 {
    padding-bottom: 87px !important
}

.pb-88 {
    padding-bottom: 88px !important
}

.pb-89 {
    padding-bottom: 89px !important
}

.pb-90 {
    padding-bottom: 90px !important
}

.pb-91 {
    padding-bottom: 91px !important
}

.pb-92 {
    padding-bottom: 92px !important
}

.pb-93 {
    padding-bottom: 93px !important
}

.pb-94 {
    padding-bottom: 94px !important
}

.pb-95 {
    padding-bottom: 95px !important
}

.pb-96 {
    padding-bottom: 96px !important
}

.pb-97 {
    padding-bottom: 97px !important
}

.pb-98 {
    padding-bottom: 98px !important
}

.pb-99 {
    padding-bottom: 99px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.pb-101 {
    padding-bottom: 101px !important
}

.pb-102 {
    padding-bottom: 102px !important
}

.pb-103 {
    padding-bottom: 103px !important
}

.pb-104 {
    padding-bottom: 104px !important
}

.pb-105 {
    padding-bottom: 105px !important
}

.pb-106 {
    padding-bottom: 106px !important
}

.pb-107 {
    padding-bottom: 107px !important
}

.pb-108 {
    padding-bottom: 108px !important
}

.pb-109 {
    padding-bottom: 109px !important
}

.pb-110 {
    padding-bottom: 110px !important
}

.pb-111 {
    padding-bottom: 111px !important
}

.pb-112 {
    padding-bottom: 112px !important
}

.pb-113 {
    padding-bottom: 113px !important
}

.pb-114 {
    padding-bottom: 114px !important
}

.pb-115 {
    padding-bottom: 115px !important
}

.pb-116 {
    padding-bottom: 116px !important
}

.pb-117 {
    padding-bottom: 117px !important
}

.pb-118 {
    padding-bottom: 118px !important
}

.pb-119 {
    padding-bottom: 119px !important
}

.pb-120 {
    padding-bottom: 120px !important
}

.pb-121 {
    padding-bottom: 121px !important
}

.pb-122 {
    padding-bottom: 122px !important
}

.pb-123 {
    padding-bottom: 123px !important
}

.pb-124 {
    padding-bottom: 124px !important
}

.pb-125 {
    padding-bottom: 125px !important
}

.pb-126 {
    padding-bottom: 126px !important
}

.pb-127 {
    padding-bottom: 127px !important
}

.pb-128 {
    padding-bottom: 128px !important
}

.pb-129 {
    padding-bottom: 129px !important
}

.pb-130 {
    padding-bottom: 130px !important
}

.pb-131 {
    padding-bottom: 131px !important
}

.pb-132 {
    padding-bottom: 132px !important
}

.pb-133 {
    padding-bottom: 133px !important
}

.pb-134 {
    padding-bottom: 134px !important
}

.pb-135 {
    padding-bottom: 135px !important
}

.pb-136 {
    padding-bottom: 136px !important
}

.pb-137 {
    padding-bottom: 137px !important
}

.pb-138 {
    padding-bottom: 138px !important
}

.pb-139 {
    padding-bottom: 139px !important
}

.pb-140 {
    padding-bottom: 140px !important
}

.pb-141 {
    padding-bottom: 141px !important
}

.pb-142 {
    padding-bottom: 142px !important
}

.pb-143 {
    padding-bottom: 143px !important
}

.pb-144 {
    padding-bottom: 144px !important
}

.pb-145 {
    padding-bottom: 145px !important
}

.pb-146 {
    padding-bottom: 146px !important
}

.pb-147 {
    padding-bottom: 147px !important
}

.pb-148 {
    padding-bottom: 148px !important
}

.pb-149 {
    padding-bottom: 149px !important
}

.pb-150 {
    padding-bottom: 150px !important
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold !important;
    color: black;
}